@font-face {
    font-family: 'Cinzel', serif;
    font-family: 'Roboto', sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Cinzel&family=Roboto&display=swap");
}

body {
    background-color: #F5F4EC;
    background-repeat: no-repeat;
}

h1 {
    color: #404E4D;
    font-family: 'Cinzel', serif;
    font-size: 60px;
    text-align: center;
    padding: inherit;
}

h3 {
    color: #404E4D;
    font-family: 'Cinzel', serif;
    font-size: 34px;
    text-align: center;
    margin-top: 5em;
    margin-right: 60px;
    position: relative;
    top: 150px;
}

h2 {
    color: #404E4D;
    font-family: 'Cinzel', serif;
    font-size: 28px;
    text-align: right;
    margin-top: 150px;
    margin-right: 60px;
}

a:link {
    text-decoration: none;
    color: #404E4D;
}

img.large {
    max-width: 100%;
    height: auto;
    /*position: absolute;*/
}

img.medium {
    width: 35%;
    height: auto;
    position: inherit;
    margin-top: 1em;
}

img.small {
    width: 150px;
    height: auto;
}

img.align-left {
    float: left;
    margin-left: 75px;
    margin-right: 100px;
}

img.align-right {
    float: right;
    margin-left: 10px;
}

.nav {
    /*background-color: #404E4D;*/
    /*background-size: auto;*/
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
    word-spacing: 3em;
    width: 100%;
}
